@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?gdhldr');
  src:  url('icomoon.eot?gdhldr#iefix') format('embedded-opentype'),
    url('icomoon.ttf?gdhldr') format('truetype'),
    url('icomoon.woff?gdhldr') format('woff'),
    url('icomoon.svg?gdhldr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\61";
}
.icon-tags:before {
  content: "\62";
}
.icon-check-circle:before {
  content: "\63";
}
.icon-question-circle:before {
  content: "\64";
}
.icon-info-circle:before {
  content: "\65";
}
.icon-exclamation-circle:before {
  content: "\66";
}
.icon-twitter:before {
  content: "\67";
}
.icon-facebook:before {
  content: "\68";
}
.icon-file-text-o:before {
  content: "\69";
}
