.*
!.gitignore
sitemap.txt
**/config/temp/
**/config/param/
**/shared/logs/
**/config/index.php
**/cache/
**/nogit
/*.com/site
/*.com/public_html/config.php
/*.com/public_html/log
/*.com/public_html/comum
