@font-face {
    font-family: 'icomoon';
    src: url('/comum/estatico/fonts/icomoon/icomoon.eot?wkx5oa');
    src: url('/comum/estatico/fonts/icomoon/icomoon.eot?wkx5oa#iefix') format('embedded-opentype'), url('/comum/estatico/fonts/icomoon/icomoon.ttf?wkx5oa') format('truetype'), url('/comum/estatico/fonts/icomoon/icomoon.woff?wkx5oa') format('woff'), url('/comum/estatico/fonts/icomoon/icomoon.svg?wkx5oa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
#indice:first-child {
    margin-top: 0px;
}
.indice_texto {
    font-size: 0.8em;
    color: #ab8ab1;
    margin-top: 20px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 3px;
}
#indice {
    font-size: 19px;
    line-height: 27px;
    columns: 2;
    /* background-color: #f9f9f9; */
    /* margin-top: 20px; */
    margin-bottom: 20px;
    /* font-family: Courier; */
    column-gap: 1px;
    /* padding: 13px; */
    /* border: 1px solid #f1f1f1; */
    /* border-radius: 8px; */
    /* box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075); */
}
.div_titulo {
    color: #c3c3c3;
    background-color: #292929;
    padding: 50px;
    padding-left: 65px;
    padding-right: 65px;
    /* margin-bottom: 20px; */
    box-shadow: 0px -7px 7px 0px rgba(0, 0, 0, 0.075);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.div_corpo_artigo {
    background-color: #292929;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 55px;
    margin-bottom: 20px;
    padding-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.legenda_indice {
    /* color: #7592ab; */
    font-size: 14px;
    /* margin-left: 2px; */
}
#indice .titulobloco {
    display: inline-block;
    width: 100%;
    /* margin-bottom: 8px; */
    /* background-color: #F4F4F4; */
    /* border-radius: 6px; */
    /* margin-bottom: 1px; */
    /* padding: 8px; */
    /* box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075); */
}
#indice .titulobloco:last-child {
    border-bottom: none;
}

#indice a:last-child {
    border-bottom:none;
}

#indice a {
    display: block;
    color: #e0e0e0;
    padding-left: 14px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-bottom: 1px; */
    border-bottom: 1px solid #474747;
}
#indice a:hover {
    color: #FFF;
    background-color: #5d5d5d;
}
#indice .indiceT1 {
    /* font-weight: bold; */
    color: #ffffff;
    background-color: #000000;
    font-size: 1.1em;
    /* margin-bottom: 1px; */
}
#indice .indiceT1:first-child {
    /* margin-top: 0px; */
}
.contato {
    background-color: #121212;
    padding: 10px;
    border-radius: 6px;
    margin-top: 45px;
    font-size: 0.8em;
    /* box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075); */
}
article {
    /* font-size: 18px; */
    line-height: 28px;
    /* background-color: #FFF; */
    /* color: #757575; */
}
pre {
    font-family: monospace;
    font-size: 0.8em;
    background-color: #F3F3F3;
    padding: 1em;
    padding-left: 2em;
    border-radius: 6px;
    overflow-x: auto;
}
article pre p {
    line-height: 0.1em;
    color: #333;
}
article h2 {
    font-size: 1.7em;
    margin-top: 55px;
    line-height: 1.3em;
    color: #e2e2e2;
    font-weight: 700;
    /* border-top: 1px solid #EEE; */
    /* padding-top: 23px; */
    font-family: Arial;
}
article h2:first-child {
    margin-top: 0px;
    border-top: none;
    padding-top: 0;
}
article h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #c292cd;
    font-family: Arial;
    /* border-bottom: 1px solid #efefef; */
    display: block;
    line-height: 1.3em;
    /* border-bottom: 1px solid #ececec; */
    background-color: #151515;
    padding: 20px;
}
article p {
    text-align: justify;
    margin: 20px 25px;
    line-height: 1.4em;
    font-size: 20px; 
    color: #e5e5e5;
    letter-spacing: 0.2px;
}

article div> :first-child {
    margin-top: 0px;
}
article> :first-child {
    margin-top: 0px;
}

article blockquote p:first-child {
    margin-top: 0px;
}
article blockquote p:last-child {
    margin-bottom: 0px;
}
article table {
    border: 1px solid #2b2b2b;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    margin-left: 25px;
    margin-right: 25px;
}
article table td {
    /* background-color: #DDD; */
    padding: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
    text-align: left;
    border: 1px solid #5d5d5d;
}
article table td.fixedcol {
    background-color: #b5b3b3;
    color: #FFF;
    text-align: center;
}
article blockquote {
    background: #373737;
    margin-top: 26px;
    margin-bottom: 26px;
    border-left: 5px solid #dad8d8;
    border-radius: 6px;
    padding: 1em;
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
}
article blockquote p {
    color: #FFF;
}
article blockquote.blv {
    background: #373737;
    border-left: 5px solid #e8a0a0;
    color: #fdbfbf;
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
    margin: 26px 25px;
}
article blockquote h1 {
    margin-top: 9px;
}
article img {
    max-width: 100%;
    border: 2px solid #000;
    border-radius: 7px;
}
article .underline {
    border-bottom: 2px solid #eae768;
}
article blockquote .underline {
    border-bottom: 2px solid #68ea6f;
}
article .amarelo {
    background-color: #daca1d;
    color: #000;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-top: 3px;
}
article .monospace {
    background-color: #f1f1f1;
    font-family: monospace;
    font-size: 0.9em;
    padding: 4px;
    color: #333;
    border-radius: 4px;
}
article .verde {
    background-color: #3f3f3f;
    color: #5cc783;
    padding-left: 4px;
    padding-right: 4px;
}
article .azul::before {
    content: '# ';
    color: #e89df5;
    font-weight: bold;
}
article .azul {
    color: #a2baff;
    font-weight: bold;
}
article .destaque {
    font-weight: 700;
    color: #e09ce7;
}
article .enum {
    /* background-color: #f5f5f5; */
    padding: 10px;
    /* border-left: 3px solid #e4e4e4; */
    margin-top: -10px;
    /* margin-bottom: 20px; */
    border-radius: 7px;
}
article .enum p:before {
    content: '\2022';
    padding-right: 5px;
}
article .enum p span {
    /* width: 20px; */
    display: inline-block;
    /* background-color: #EEE; */
    /* height: 100%; */
    /* text-align: center; */
    margin-right: 5px;
    border-radius: 6px;
    color: #CCC;
}
article .enum p {
    margin-bottom: 8px;
    margin-top: 0;
    line-height: 24px;
    /* padding-right: 5px; */
    /* font-size: 16px; */
    /* color: #3281c5; */
    font-weight: 400;
}
article .enum p:last-child {
    margin: 0;
}
article .nota {
    background-color: #373737;
    border-left: 5px solid #c3ac6d;
    color: #e5e892;    
    padding: 1em;
    border-radius: 6px;
    margin: 26px 25px;
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
}
article .nota:before {
    font-family: icomoon;
    content: 'i';
    padding-right: 8px;
}
article .nota span {
    /* padding-left: 8px; */
    padding-right: 8px;
    font-weight: 700;
}
article a {
    color: #c7a7ff;
    font-weight: 400;
    border-bottom: 1px solid #b1b1b1;
}

article a:hover {
    /* color: #505050; */
    /* border: 1px solid #666; */
    /* border-radius: 3px; */
    /* background-color: #F2F2F2; */
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
    /* font-weight: 400; */
    border-bottom: 1px solid #3dbd31;
    /* padding: 4px; */
}
#timestamp {
    margin-top: 25px;
    font-size: 12px;
    /* top: 20px; */
    /* right: 20px; */
    background-color: #1e1e1e;
    line-height: 20px;
    /* border: 1px solid #EEE; */
    padding: 6px 10px;
}
#timestamp span:first-child {
    margin-right: 29px;
    display: inline-block;
}
#timestamp span:last-child {
    /* float: right; */
    display: inline-block;
}
#rodape a {
    border: none;
}
#rodape a:hover {
    box-shadow: none;
    border: none;
    padding: 0px;
    background-color: unset;
}
#rodape a:hover:after {
    content: none;
}
article .atencao {
    color: #79e38c;
    border-left: 5px solid #35a148;
    background-color: #373737;
    padding: 1em;
    position: relative;
    border-radius: 6px;
    margin: 26px 25px;
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
}
article .atencao:before {
    font-family: icomoon;
    content: 'f';
    padding-right: 8px;
}
article .atencao p, article .duvida p {
    margin-bottom: 0px;
    margin-top: 0px;
}
article .atencao span {
    /* display: block; */
    /* position: absolute; */
    /* margin-top: -26px; */
    /* font-size: 12px; */
    /* background-color: #FFF; */
    /* padding: 2px; */
    /* padding-left: 8px; */
    padding-right: 8px;
    /* color: #adb951; */
    /* border-radius: 10px; */
    /* left: 14px; */
    /* line-height: 16px; */
    /* border: 1px solid #b3c324; */
    font-weight: 700;
    /* padding-left: 8px; */
}
article .duvida {
    padding: 16px;
    position: relative;
    /* border-radius: 6px; */
    color: #000000;
    background-color: #73b9ff;
    border-left: 5px solid #396b9b;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
}
article .img_container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
article .duvida span {
    /* display: block; */
    /* position: absolute; */
    /* margin-top: -26px; */
    /* font-size: 12px; */
    /* background-color: #FFF; */
    /* padding: 2px; */
    /* padding-left: 8px; */
    padding-right: 8px;
    /* color: #7bad84; */
    /* border-radius: 10px; */
    /* left: 14px; */
    /* line-height: 16px; */
    /* border: 1px solid #98caa1; */
    font-weight: 700;
}
#rodape {
    /* margin-top: 40px; */
    /* border-top: 1px solid #EEE; */
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#rodape img {
    margin: 0px;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 35px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.taglist {
    margin-top: 45px;
}
.taglist a {
    background-color: #925eae;
    padding: 2px;
    margin-right: 2px;
    margin-bottom: 1px;
    border-bottom: none;
    font-size: 14px;
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-weight: 400;
    border-radius: 5px;
}
.taglist a:hover {
    border: none;
    /* box-shadow: none; */
    color: #555;
    background-color: #CCC;
}
.blv:before {
    font-family: icomoon;
    content: 'e';
    padding-right: 8px;
}
.duvida:before {
    font-family: icomoon;
    content: 'd';
    padding-right: 8px;
}
.taglist:before {
    font-family: icomoon;
    content: 'b';
    padding-right: 8px;
}
.taglist a:hover:before {
    content: '';
}
#fb-root {
    /* margin-top: 20px; */
}
#sharer {
    position: sticky;
    /* left: 11px; */
    top: 20px;
    margin-left: -70px;
    width: 50px;
    z-index: 1000;
    float: left;
    /* top: 0px; */
}
#fb_share {
    width: 50px;
    height: 50px;
    background-color: #3b5998;
    display: inline-block;
    text-align: center;
    /* vertical-align: middle; */
    /* padding-top: 8px; */
    line-height: 50px;
    color: #FFF;
    font-size: 20px;
}
#t_share {
    width: 50px;
    height: 50px;
    background-color: #1DA1F2;
    display: inline-block;
    text-align: center;
    /* vertical-align: middle; */
    /* padding-top: 8px; */
    line-height: 50px;
    color: #FFF;
    font-size: 20px;
}
#t_share:before {
    font-family: icomoon;
    content: "g";
}
#t_share:hover {
    background-color: #2DB1FF;
}
#fb_share:before {
    font-family: icomoon;
    content: "h";
}
#gp_share {
    width: 50px;
    height: 50px;
    background-color: #dc4e41;
    display: inline-block;
    text-align: center;
    /* vertical-align: middle; */
    /* padding-top: 8px; */
    line-height: 50px;
    color: #FFF;
    font-size: 20px;
}
#gp_share:hover {
    background-color: #e85e50;
}
#fb_share:hover {
    background-color: #5b7abb;
}
.tright {
    text-align: right;
}
.tcenter {
    text-align: center;
}
@media screen and (max-width:1750px) {
    #sharer {
        margin: 0;
        right: calc((100% - 1600px)/2 + 360px);
        float: right;
    }
}

@media screen and (max-width:1564px) {
    .div_titulo, .div_corpo_artigo {
        border-radius:0px;
    }    
}

@media screen and (max-width:1600px) {
    #sharer {
        right: 360px;
    }
}
@media screen and (max-width:1256px) {
    #indice {
        columns: 1;
    }
}
@media screen and (max-width:1020px) {
    #rodape {
        margin: 0;
    }
    .div_titulo, .div_corpo_artigo {
        margin: 0;
        /* border-bottom: 1px solid #d7e5ff; */
    }
    #sharer {
        right: 0;
        /* bottom: 60px; */
        /* z-index: 100; */
    }
    #indice {
        columns: 2;
    }
}
@media screen and (max-width:800px) {
    article p {
        text-align: left;
    }
    #indice {
        columns: 1;
    }
}
@media screen and (max-width:600px) {
    .videoWrapper {
        margin-bottom: 20px;
    }
    .div_titulo {
        padding: 28px;
    }
    .div_corpo_artigo {
        padding: 28px;
        padding-top: 0px
    }
    #sharer {
        right: 0;
        box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.4);
        bottom: 60px;
        position: fixed;
        top: unset;
    }
}
