_noRoot
<!DOCTYPE html>
<html>
    <head>
        <title>[titulo]</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta content="pt-BR" http-equiv="Content-Language"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        
        <link rel="icon" href="/favicon.png">        
        <link rel="STYLESHEET" type="text/css" href="/comum/estatico/css/fixo.css"/>[css]
    </head>
<body style="background-color: #cecece">
<div id="conteudo" style="width: 100%;height: 100%;position: relative;"><div id="msg" style=" margin: 0;font-size:80px;font-weight:bold;position: absolute;top: 46%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);">404 Page Not Found</div></div>
</div>
</body>
</html>
[js_root][javascript]