<!doctype html>
<html ⚡ lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>[titulo]</title>[alternative_link]    
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="description" content= "[description]"/>
    <meta property="og:url" content="[url]" />        
    <meta property="og:type" content="website" />
    <meta property="og:title" content="[titulo]"/>        
    <meta property="og:image" content="[image]"/>    
    <meta property="og:description"   content="[description]" />
    <meta itemprop="isFamilyFriendly" content="True"/>    
    <link rel="apple-touch-icon" href="/cache/img/apple-touch-icon.png"/> 
    <link rel="apple-touch-icon-precomposed" href="/cache/img/apple-touch-icon.png"/>
    <!--start--><script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script><!--end-->
    [amp_script]
    [css_root]
    [structured]            
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
  </head>
<body>
<!--start--><amp-analytics type="googleanalytics"><script type="application/json">{"vars": {"account": "[analytics]"},"triggers": {"trackPageview": {"on": "visible","request": "pageview"}}}</script></amp-analytics><!--end-->
<div id="topo_root"><div class="topo_content max_width"><a href="/"><amp-img width="218" height="75" layout="fixed" src="/cache/img/[logo]"></amp-img></a></div></div>
<div id="flex_container">
   <div id="left"><a class="searchbox" href="/search">Buscar</a><div class="tags"><ul>[destaque_tags]</ul></div></div>
   <div id="content">[conteudo]</div>
   <div id="right"><a class="searchbox" href="/search">Buscar</a><div class="sidebartags"><ul>[sidebar_tags]</ul></div><!--googleoff: all-->[sidebar] <!--googleon: all--></div>      
</div>    
<footer><div class="max_width"><div><a href="mailto:contato@[site]">contato@[site]</a></div>[site]</div></footer>
</body>
</html>
